{% extends 'layout.html' %}



{% block body %}

<div class="jumbotron" >

  <h1>What is Zakat?</h1>

  <p>Islam is a religion that gives the message of love and peace. It wants its followers to live in peace and harmony in the world along with people of other religions and assist each other in making the world a better place. It is this moto of making the world a better place and helping others that Islam emphasizes on charity.

    In Islam, charity holds such a great place that it is an obligation on Muslims in the form of Zakat. 
    In Islam, Zakat is one of the major pillars of Islam, and those who are wealthy enough, 
    for them it is mandatory to give Zakat. However, when it comes to paying Zakat, there are different misconceptions
     that are prevalent among Muslims.
    The lines below discuss the importance of Zakat in Islam and the general misconceptions people have regarding it.</p>

    <a href="/calculate" class="btn btn-success">Calculate Zakat</a>


</div>


{% endblock %}